@import "variables.scss";

.body_index{
    background: url(../img/sabri-98.jpg)no-repeat center center/cover;
    width: 100%;
    height: 1000px;
    .btn:hover{
        background-color:map-get($boton , color );
    }
    .container{
      @include propiedadesflexcontainer(flex,center);
    }
    .filmotion{
        margin-top: 50px;
    }
    .margin-button{
        padding: 220px 0px 300px 0px;
    }
}


.container h6{
    margin: 200px 0px 0px 0px;
    padding: 20px;
    color: white;
    font-family:arial;
    text-align: center;
    background-color: rgb(175, 117, 172);
    border-radius: 50px;
}