$boton:(
    color: #f0e1ff,
);


@mixin propiedadesflexcontainer ($display, $justify) {
    display: $display;
    justify-content: $justify;
}

.botonsegundo{
    @extend .btn;
    background-color: violet;
    margin: 0px 20px;
}