body{
    .container-fluid .bg-black{
        padding: 10px 0px 0px 0px;
    }
}


header{
    .img{
        border-radius:300px;
    }
}

main{
    
    .row img{
    width: 100%;
    vertical-align: top;
    object-fit: cover;}
        .img-fluid{
            border-radius: 100px;
            margin: 5px 0px;
        }
        .row > a{
            display: block;
            position:relative;
            overflow: hidden;
        }
        
        .row a:hover img{
            filter: blur(2px);
        }
        
            .light-box{
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, .5);
                transition: transform .3s ease-in-out;
                width: 100%;
                height: 100vh;
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(0);
            }
            .next{
                display: block;
                background: rgb(240, 225, 255);
                color: rgb(0, 0, 0);
                height: 30px;
                width: 30px;
                line-height: 30px;
                text-decoration: none;
                text-align: center;
            }
            .light-box img{
                width: 75vw;
                max-height: 90vh;
            }
            .close{
                display: block;
                position: absolute;
                top: 90px;
                right: 40px;
                width: 40px;
                height: 40px;
                background-color: rgb(240, 225, 255);
                text-align: center;
                line-height: 40px;
                border-radius: 50% ;
            }       
}


.light-box:target{
    transform: scale(1);
}