*{
    margin: 0;
    padding: 0%;
    box-sizing: 0;
}

.navbar-nav{
    display: flex;
    margin: 0px 250px 0px 0px;
    align-content: center;
    align-items: center;
}

.margin{
    margin: 0px 15px;
}
.container-fluid .bg-black{
    padding: 10px 0px 0px 0px;
}

.col-4{
    padding: 0;
}

.nav-link{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}   



.row > a{
    display: block;
    position:relative;
    overflow: hidden;
}

.row img{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.row a:hover img{
    filter: blur(2px);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.light-box img{
    width: 75vw;
    max-height: 90vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 90px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    text-align: center;
    line-height: 40px;
    border-radius: 50% ;
}

.next{
    display: block;
    background: blueviolet;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}


.row h1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.row p{
    padding: 0;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.row img{
    padding-bottom: 100px;
}

.row h5{
    padding-top: 50px;
    padding-bottom: 40px;
}
.row ul{
    list-style: none;
}
.row ul li{
    padding-bottom: 15px;
}



.container{
    display: flex;
    justify-content: center;
}

.img-fluid{
    border-radius: 100px;
    margin: 5px 0px;
}

.img{
    border-radius:300px;
}


.mb-4{
    display: flex;
    margin: 0px 0px 0px 200px;
}


.body_index{
    background: url(../img/book\ sabri-98.jpg)no-repeat center center/cover; 
    width: 100%;
    height: 1000px;
}   

.margin-button{
    padding: 400px 0px 200px 0px;
}

.bordes{
    display: flex;
    align-items: center;
    border: solid black 1px;
    
}


h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

@media(max-width:1220px){
    h2{
        font-size: 17px;
    }
    h1{
        font-size: 30px;
    }
}

@media(max-width:768px){
    h2{
        font-size: 12px;
    }
    h1{
        font-size: 25px;
    }

    
}

@media(max-width:594px){
    h2{
        font-size: 10px;
}
h1{
    font-size: 18px;
}
}

.div-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label{
    width: 80px;
}

.formulario{
    border: solid 1px;
}

.formulario:hover{
    background-color:rgb(240, 225, 255);
}

.nav-link:hover{
    background-color: rgb(240, 225, 255);
}

