*{
    margin: 0;
    padding: 0%;
    box-sizing: 0;
}

.navbar-nav{
    display: flex;
    margin: 0px 250px 0px 0px;
    align-content: center;
    align-items: center;
}

.margin{
    margin: 0px 15px;
}
.container-fluid .bg-black{
    padding: 10px 0px 0px 0px;
}

.col-4{
    padding: 0;
}

h1{
    display: flex;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: center;
}

.img-fluid{
    border-radius: 100px;
    margin: 5px 0px;
}

.img{
    border-radius:300px;
}


.mb-4{
    display: flex;
    margin: 0px 0px 0px 200px;
}


.col-11{
    height: 200px;
}

.col-sm-11{
    height: 300px ;
}

.col-md-11{
    height: 400px ;
}

.col-lg-11{
    height: 1200px;
}















.body_index{
    background: url(../img/book\ sabri-98.jpg)no-repeat center center/cover; 
    width: 100%;
    height: 1000px;
}   

.margin-button{
    padding: 500px 0px 200px 0px;
}